/* Penyesuaian Font Matematika KaTeX */
.katex { 
    font-size: 1.15em; 
}

/* Pengaturan Tampilan saat di Print */
@media print { 
    .no-print { 
        display: none !important; 
    } 
    body {
        background-color: white !important;
    }
    .max-w-6xl {
        max-width: 100% !important;
    }
    .lg\:col-span-7 {
        grid-column: span 12 / span 12 !important;
    }
}

/* Transisi Hover Tabel */
tr:hover td {
    background-color: #f8fafc;
}